<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--
		1. ReplaceTimeFormat - autoreplace time format string

		Affects: autoreplace time for $DATETIME abbreviation of
		format strings
		
		Notes: "en-US" culture will be used to generate time
		
		To search variants Time Format
		google: DateTime format to string C#
		see: http://www.codeproject.com/KB/cs/String2DateTime.aspx

		Default: dd-MM-yyyy
		-->
		<add key="ReplaceTimeFormat" value="dd-MM-yyyy"/>

		<!--
		2. LastModificationsTimeFormatString - time format string

 		Affects: view of "Please, Enter Start Time" dialog of "Exclude By Time" filter

		Default: dddd, dd MMMM yyyy HH:mm:ss
		-->
		<add key="LastModificationsTimeFormatString" value="dddd, dd MMMM yyyy HH:mm:ss"/>

		<!--
		3. Culture - program culture

		Affects: language of generated date in "Please, Enter Start Time" dialog 
		of "Exclude By Time" filter

		Default: empty(autodetection)
		
		Russian: ru-RU
		(requires MUI on non-russian windowses)
		-->
		<add key="ProgramCulture" value=""/>

		<!--
		4. SettingsFolder - Provides a folder for keeping settings

		Affects: Place for storing the settings.
		Leave empty for autodetection (will work outside ms build and visual studio)

		Default: 

		Notes: Refer to Integration with Microsoft Visual Studio 2010 Beta 2, Integration with SharpDevelop 3.x, 4.x in documentation
		-->
		<add key="SettingsFolder" value=""/>

		<!--
		5. ShowTextInToolbars - Shows text in toolbars

		Affects: Toolbar with text

		Default: False
		-->
		<add key="ShowTextInToolbars" value="False"/>

 	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
